/Isu.Tests/obj/
/Isu.Tests/bin/
/Isu/obj/
/Isu/bin/
/Shops/bin/
/Shops/obj/
/Shops.Tests/bin/
/Shops.Tests/obj/
/Shops/Shops.csproj
/Shops.Tests/Shops.Tests.csproj
/IsuExtra.Tests/IsuExtra.Tests.csproj
/IsuExtra/IsuExtra.csproj
/Backups.Tests/Backups.Tests.csproj
/Backups/Backups.csproj
/Banks/Banks.csproj
/Banks.Tests/Banks.Tests.csproj
/BackupsExtra.Tests/BackupsExtra.Tests.csproj
/BackupsExtra/BackupsExtra.csproj

